@font-face {
  font-family: "AlegreyaSans";
  src: url("./fonts/AlegreyaSans-Regular.woff2") format("woff2"), url("./fonts/AlegreyaSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
html {
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 17px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 16px;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, html {
  font-family: "AlegreyaSans";
  margin: 0;
  padding: 0;
  height: 100%;
}
body body._lock, html body._lock {
  overflow: hidden;
}
body .wrapper, html .wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}
body .container, html .container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 940px;
  height: 100%;
}

button:focus,
input:focus,
a:focus {
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  outline: none;
  border: none;
}

p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

footer {
  position: relative;
  width: 100%;
}

.header {
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 1.3333333333rem;
  color: #FFFFFF;
}
@media screen and (max-width: 768px) {
  .header {
    left: 0;
    height: 5.0555555556rem;
    background: #1968B1;
    width: 100%;
    padding: 0;
  }
}

.logo {
  padding: 0 1.1111111111rem;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
  .menu__link {
    font-size: 2rem;
  }
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .menu__list {
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.menu__item {
  margin-right: 1.3888888889rem;
  font-size: 0.9444444444rem;
  font-style: normal;
  font-weight: 400;
  white-space: nowrap;
}
@media screen and (max-width: 768px) {
  .menu__item {
    margin-right: 0;
  }
}

.phone-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 1.1111111111rem;
  font-size: 1.2222222222rem;
  white-space: nowrap;
}
.phone-number__icon-elem {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 0.3888888889rem;
  width: 0.8888888889rem;
  height: 0.8888888889rem;
}

@media screen and (max-width: 768px) {
  .header__phone-number {
    display: none;
  }
}

.phone-icon {
  display: block;
  margin-right: 0.2777777778rem;
  width: 0.8333333333rem;
  height: 0.8333333333rem;
}

.header__phone-icon {
  fill: #fff;
}

.footer__phone-icon {
  fill: #292929;
}

.burger {
  position: absolute;
  top: 25px;
  right: 10%;
  cursor: pointer;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 26px;
  height: 25px;
  z-index: 15;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
@media screen and (max-width: 768px) {
  .burger {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}
.burger__plank {
  display: block;
  width: 100%;
  height: 4px;
  background: #fff;
  border-radius: 10px;
}

.burger:active .burger__plank:nth-child(1) {
  opacity: 0;
}

.burger:active .burger__plank:nth-child(2) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.burger:active .burger__plank:nth-child(3) {
  -webkit-transform: rotate(-45deg) translateY(-7px) translateX(7px);
          transform: rotate(-45deg) translateY(-7px) translateX(7px);
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.hero {
  padding: 9.2222222222rem 0 3.7777777778rem 0;
  height: 100vh;
  min-height: 36.3888888889rem;
  background: url(./img/arnaud.png) center no-repeat;
  background-size: cover;
  color: #FFFFFF;
}
@media screen and (max-width: 768px) {
  .hero {
    margin-bottom: 150px;
  }
}
@media screen and (max-width: 480px) {
  .hero {
    margin-bottom: 2.7777777778rem;
  }
}
.hero__subtitle {
  margin: 1.3888888889rem 0 2rem 0;
  width: 21.2222222222rem;
  font-size: 1.1666666667rem;
}

.hero__title-section {
  width: 51%;
}
@media screen and (max-width: 768px) {
  .hero__title-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .hero__icon-section {
    display: none;
  }
}

.service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.service__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 2.5555555556rem;
  font-size: 0.8888888889rem;
  font-weight: bold;
}
.service__item:last-child {
  margin-right: 0;
}
.service__icon {
  margin-right: 0.8333333333rem;
  width: 1.9444444444rem;
  height: 1.9444444444rem;
  fill: white;
}
.service__text {
  max-width: 5rem;
}

.btn {
  padding: 1.1111111111rem 2.2222222222rem;
  background: #FEDB3F;
  border-radius: 5.5555555556rem;
  font-size: 0.8888888889rem;
  font-weight: 800;
  color: #000;
  border: none;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
}
.btn:hover {
  background: #ffd517;
}
.btn__theme-transparent {
  background: inherit;
  color: #FFFFFF;
  text-transform: none;
}
.btn__theme-transparent:hover {
  background: rgba(0, 0, 0, 0.5);
  color: #fedb3f;
}
@media screen and (max-width: 480px) {
  .btn {
    font-size: 1.0555555556rem;
  }
}

.hero__title {
  font-weight: bold;
  line-height: 1.2;
  text-transform: uppercase;
  font-size: 2.6666666667rem;
  color: #FFFFFF;
}
@media screen and (max-width: 768px) {
  .hero__title {
    padding: 0 5%;
  }
}
@media screen and (max-width: 480px) {
  .hero__title {
    font-size: 2.2222222222rem;
  }
}

.section__title {
  text-transform: uppercase;
  font-size: 2.6666666667rem;
  font-weight: bold;
}
@media screen and (max-width: 480px) {
  .section__title {
    font-size: 2.2222222222rem;
  }
}

.why-title {
  margin-bottom: 1.1111111111rem;
  color: #292929;
}
@media screen and (max-width: 480px) {
  .why-title {
    margin-bottom: 0.5rem;
  }
}

.coments-title {
  margin-bottom: 1.7777777778rem;
}

.order-title {
  padding-bottom: 2.7777777778rem;
  text-align: center;
  color: #FFFFFF;
}
@media screen and (max-width: 768px) {
  .order-title {
    padding-bottom: 1.3888888889rem;
  }
}

.why {
  margin: 2.7777777778rem 0;
}

.section__text {
  padding: 0 26% 2.7777777778rem;
  font-size: 18px;
  line-height: 1.2222222222rem;
  font-weight: 300;
}
@media screen and (max-width: 480px) {
  .section__text {
    padding: 0 10%;
  }
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 480px) {
  .features {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.features__item {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 3%;
}
.features__item::before {
  position: absolute;
  content: url(../../img/icon/shape3.png);
  top: 50px;
  right: 0;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
.features__item:first-child {
  padding-left: 0;
}
.features__item:last-child {
  padding-right: 0;
}
.features__item:last-child::before {
  display: none;
}
@media screen and (max-width: 480px) {
  .features__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding-bottom: 10%;
    margin-left: 0;
  }
  .features__item:last-child {
    padding-bottom: 0;
  }
}
.features__img-wrapper {
  position: relative;
  display: inline-block;
  width: 7.1111111111rem;
  height: 7.1111111111rem;
  background: #f2f5f4;
  border-radius: 50%;
  overflow: hidden;
}
.features__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 68px;
  height: 68px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  fill: black;
}
.features__caption {
  padding: 1.1111111111rem 0;
}
.features__body {
  text-align: center;
}
@media screen and (max-width: 480px) {
  .features__body {
    padding: 0 4%;
    text-align: left;
  }
}
@media screen and (max-width: 480px) {
  .features__text {
    padding-right: 10%;
  }
}

.icon-perfect {
  width: 44px;
}

.caption {
  font-size: 1.5rem;
  font-weight: bold;
  color: #292929;
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  min-height: 36.1111111111rem;
}
@media screen and (max-width: 768px) {
  .section {
    margin-bottom: 8.3333333333rem;
  }
  .section:last-child {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 768px) and (max-width: 480px) {
  .section {
    margin-bottom: 4.7222222222rem;
  }
  .section:last-child {
    margin-bottom: 0;
  }
}

.assortment {
  background: #F8FAF9;
}

.container-assortment {
  position: relative;
  padding: 0 5.5555555556rem;
}

.assortment__control {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}

.assortment__control-icon {
  width: 13px;
  height: 27px;
}

.assortment__control-left {
  left: 5%;
}

.assortment__control-right {
  right: 5%;
}

.assortment__slider {
  overflow: hidden;
}

.assortment__list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3.3333333333rem;
  will-change: right;
  -webkit-transition: right 0.3s;
  transition: right 0.3s;
  right: 940px;
}

.assortment__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .assortment__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.assortment__img {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 0;
  padding-top: 3.8888888889rem;
  width: 43%;
  background: url(./img/grey.png) center no-repeat;
}
@media screen and (max-width: 768px) {
  .assortment__img {
    margin-bottom: 40px;
    width: 44%;
  }
}
@media screen and (max-width: 480px) {
  .assortment__img {
    width: 55%;
  }
}

.greyspot {
  display: block;
  width: 396px;
  height: 378px;
}

.assortment__content {
  width: 45%;
}
@media screen and (max-width: 768px) {
  .assortment__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 85%;
  }
}
@media screen and (max-width: 480px) {
  .assortment__content {
    width: 90%;
  }
}

.assortment-composition {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 66px 0 52px;
}
.assortment-composition:hover .assortment-composition__list {
  left: 100%;
  opacity: 1;
}
@media screen and (max-width: 768px) {
  .assortment-composition {
    display: none;
  }
}

.assortment-composition__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.7777777778rem 0.3888888889rem 0.6666666667rem;
  text-align: center;
  min-width: 91px;
  background: #3A587E;
  border-radius: 0.2222222222rem;
  color: #FFFFFF;
}

.assortment-composition__icon {
  margin-bottom: 0.2777777778rem;
  width: 38px;
  height: 38px;
  fill: #FFFFFF;
}

.assortment-compositions__title {
  font-size: 14px;
  line-height: 1.2;
  font-weight: bold;
  text-transform: uppercase;
}

.assortment-composition__list {
  position: absolute;
  top: 0;
  left: -9999px;
  opacity: 0;
  -webkit-transition: opacity 0.3;
  transition: opacity 0.3;
  padding: 1rem 0.7777777778rem 1.1666666667rem;
  min-width: 273px;
  background: #d5d5d5;
  -webkit-box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.06);
          box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
}

.assortment-composition__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.4444444444rem;
  padding: 0.5555555556rem 0.6666666667rem;
}
.assortment-composition__item:last-child {
  margin-bottom: 0;
}

.assortment-composition__params-icon {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 0.6666666667rem;
  padding-top: 0.4444444444rem;
  width: 32px;
  height: 32px;
}

.assortment-composition__desc {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.assortment-composition__params-text {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-left: auto;
}

.assortment__title {
  margin-bottom: 1.3333333333rem;
  font-size: 2rem;
  line-height: 1.2;
  font-weight: bold;
  text-transform: uppercase;
}

.assortment__text {
  margin-bottom: 1.3333333333rem;
  line-height: 1.2;
  color: #666;
}

.assortment__params-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.3333333333rem;
  color: #666666;
  line-height: 1.2;
}

.assortment__params-item {
  margin-right: 2.8888888889rem;
}
.assortment__params-item:last-child {
  margin-right: 0;
}

.assortment__value {
  font-weight: bold;
  color: #000000;
}

.assortment__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5.5555555556rem;
}
@media screen and (max-width: 768px) {
  .assortment__footer {
    margin-bottom: 4.4444444444rem;
  }
}

.assortment__price {
  margin-right: 1.8888888889rem;
  font-size: 60px;
  font-weight: 300;
  line-height: 1;
  color: #151515;
}

.team {
  text-align: center;
}

.team__title {
  margin-bottom: 50px;
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 60px;
}

.team__photo {
  margin-right: 20px;
  width: 220px;
  height: 290px;
}
.team__photo:last-child {
  margin-right: 0;
}

.team__accordion-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 5px;
  font-weight: bold;
  font-size: 21px;
  line-height: 1.1;
}

.team__icon-arrow {
  display: block;
  padding-top: 8px;
  width: 15px;
  height: 15px;
  fill: #292929;
}

.accordion__wrapper {
  display: none;
}

.coments__body {
  background: #f8faf9;
  margin-bottom: 0.8333333333rem;
}
@media screen and (max-width: 480px) {
  .coments__body {
    width: 100%;
  }
}
.coments__list {
  min-height: 15.5555555556rem;
}
.coments__item {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .coments__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}
.coments__photo {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  margin: 2.3333333333rem;
  width: 14.1111111111rem;
  height: 14.6666666667rem;
}
@media screen and (max-width: 768px) {
  .coments__photo {
    width: 7.2222222222rem;
    height: 7.2222222222rem;
    margin: 2.3333333333rem 0 0;
  }
}
.coments__photo-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.coments__content {
  padding: 3.8888888889rem 0;
  text-align: left;
}
@media screen and (max-width: 768px) {
  .coments__content {
    padding: 1.6666666667rem 2.2222222222rem;
    text-align: center;
  }
}
.coments__caption {
  padding-bottom: 0.8333333333rem;
}
.coments__text {
  padding: 0 5.5555555556rem 1.3888888889rem 0;
}
@media screen and (max-width: 768px) {
  .coments__text {
    padding: 0 4%;
  }
}
.coments__signature {
  font-weight: 600;
  color: #292929;
}

.coments__item.active {
  position: static;
  opacity: 1;
  pointer-events: unset;
}

.coments__swither {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.coments__swither .coments__swither-avatar {
  width: 4.1111111111rem;
  height: 4.1111111111rem;
}
.coments__swither .coments__swither-item {
  position: relative;
  margin-right: 0.3333333333rem;
  overflow: hidden;
  width: 4.4444444444rem;
  height: 4.4444444444rem;
  cursor: pointer;
  border: 6px solid transparent;
  border-radius: 50%;
}
.coments__swither .coments__swither-item:last-child {
  margin-right: 0;
}

.coments__swither-item.active {
  border: 6px solid #FEDB3F;
}

.order-section {
  margin: 0 auto;
  background: url(./img/photo-1505459668311-8dfac7952bf0.jpg) top left no-repeat;
  background-size: cover;
  color: #FFFFFF;
  width: 100%;
  height: 100vh;
  min-height: 36.1111111111rem;
}
@media screen and (max-width: 768px) {
  .order-section {
    min-height: 53.8888888889rem;
  }
}

.order-board {
  padding: 5.5555555556rem 0;
}
@media screen and (max-width: 480px) {
  .order-board {
    padding: 3.3333333333rem 0;
  }
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
}
@media screen and (max-width: 768px) {
  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 18%;
  }
}
@media screen and (max-width: 480px) {
  .form {
    padding: 0 3%;
  }
}
.form__column {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1.4444444444rem;
}
.form__column:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .form__column {
    margin-right: 0;
  }
}
.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.1111111111rem;
}
.form__row:last-child {
  margin-bottom: 0;
}
.form__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 0.8333333333rem;
}
.form__block:last-child {
  margin-right: 0;
}
.form__input {
  width: 100%;
  padding: 1rem 0.6666666667rem;
  border: 0.1666666667rem solid transparent;
  border-radius: 0.2222222222rem;
}
.form__input:focus {
  border: 0.1666666667rem solid #fedb3f;
  outline: none;
}
@media screen and (max-width: 768px) {
  .form__input {
    padding: 3% 0;
  }
}

.form__input-textarea {
  width: 100%;
  height: 8.3333333333rem;
  resize: none;
}

.form__heading {
  padding-bottom: 0.2777777778rem;
}

.form__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1.6666666667rem 0.5555555556rem;
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible::before {
  display: block;
}
.radio__visible {
  position: relative;
  margin-right: 0.5555555556rem;
  width: 1.3333333333rem;
  height: 1.3333333333rem;
  border-radius: 50%;
  background: #ffffff;
}
.radio__visible::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: none;
  width: 0.6666666667rem;
  height: 0.6666666667rem;
  border-radius: 50%;
  background: #fedb3f;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.radio__heading {
  padding: 0.2777777778rem 1rem 0 0;
}

.radio--checkbox .radio__visible {
  border-radius: 0;
}
.radio--checkbox .radio__visible:before {
  background: url(./img/icon/tick.svg) center no-repeat;
}

@media screen and (max-width: 768px) {
  .form__btn {
    padding-left: 2.7777777778rem;
  }
}

.fixed-menu {
  position: fixed;
  top: 33%;
  right: 4%;
  z-index: 100;
}
.fixed-menu__item {
  margin-bottom: 5px;
}
.fixed-menu__item--active .fixed-menu__link {
  border-color: #fff;
}
.fixed-menu__link {
  position: relative;
  display: block;
  width: 0.8888888889rem;
  height: 0.8888888889rem;
  border: 0.0555555556rem solid transparent;
  border-radius: 50%;
}
.fixed-menu__link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  width: 0.3333333333rem;
  height: 0.3333333333rem;
  border-radius: 50%;
  background: #fff;
}
@media screen and (max-width: 768px) {
  .fixed-menu {
    display: none;
  }
}

.fixed-menu__item {
  margin-bottom: 0.2777777778rem;
}
.fixed-menu__item--active .fixed-menu__link {
  border-color: #fff;
}

.map-section {
  position: relative;
  top: 0;
  margin-top: 0;
  background: url(./img/map.png) center center no-repeat;
  width: 100%;
  height: 100vh;
  background-size: cover;
}

.footer {
  position: absolute;
  bottom: 0;
  max-width: 100%;
  font-size: 1.1666666667rem;
}
.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.1111111111rem 4.4444444444rem;
  min-height: 5rem;
  background: #fff;
  color: #292929;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
@media screen and (max-width: 480px) {
  .footer__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (max-width: 480px) {
  .footer__column__address-item {
    margin-bottom: 25px;
  }
}
.footer__phone-number {
  margin: 0.5555555556rem 0;
  padding-left: 0;
}
@media screen and (max-width: 480px) {
  .footer__phone-number {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer__phone-icon {
  fill: #292929;
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.social__item {
  padding-right: 0.8333333333rem;
}
.social__item:last-child {
  padding-right: 0;
}

.social-icon {
  width: 20px;
  height: 20px;
}

.social-vk {
  padding-top: 0.1666666667rem;
}