.burger{
  display: none;
  
  @include tablets{
  position: absolute;
  top: 25px;
  right: 10%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 26px;
  height: 25px;
  z-index: 15;
  transition: all 0.3s;
  }

  &__plank{
    display: block;
    width: 100%;
    height: 4px;
    background: #fff;
    border-radius: 10px;
  }
}
 
.burger._active .burger__plank:nth-child(1){
 opacity: 0;
}
.burger._active .burger__plank:nth-child(2){
 transform: rotate(45deg);
}
.burger._active .burger__plank:nth-child(3){
 transform: rotate(-45deg) translateY(-7px) translateX(7px);
   
}
 
