.menu{
  display: flex;
  @include tablets {
  display: none;
    &__link{
      font-size: rem(36px);
    }
  }
   &__list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  @include tablets{   
    position: relative;  
     flex-direction: column;
  } 
}
  &__item{
  margin-right: rem(25px);
  font-size: rem(17px);
  font-style: normal;
  font-weight: 400;
  white-space: nowrap;
 @include tablets{
   margin-right: 0;
 }
 }
}

