.phone-number{
  display: flex;
  align-items: center;
  padding-left: rem(20px);
  font-size: rem(22px);
  white-space: nowrap;
  
  &__icon-elem{
   flex-shrink: 0;
   margin-right: rem(7px);
   width: rem(16px);
   height: rem(16px);
 }
 }
 .header__phone-number{
   @include tablets {
  display: none;
}
}