.section__title{
 text-transform: uppercase;
 font-size: rem(48px); 
 font-weight: bold;
   
  }
.why-title{
  margin-bottom: rem(20px);
  color: #292929;
   
 @include phones {
      margin-bottom: rem(9px);
    }
  }
 .coments-title{
   margin-bottom: rem(32px);
 } 
.order-title{
  padding-bottom: rem(50px);
  text-align: center;
  color: $fonts-color;
  @include tablets{
    padding-bottom: rem(25px);
  }
  }
   