.section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  min-height: rem(650px);
  
  @include tablets{
    margin-bottom: rem(150px);
    &:last-child{
      margin-bottom: 0;
    }
     
  @include phones{
    margin-bottom: rem(85px);
    &:last-child{
      margin-bottom: 0;
    }
  }  
 }
}