.team {
  text-align: center;
}
.container {
}
.section__title {
}
.team__title {
   margin-bottom: 50px;
  
}
.team__list {
  display: flex;
  margin-bottom: 60px;
   
}
.team__item {
}
.team__photo {
  margin-right: 20px;
  &:last-child{
    margin-right: 0;
  }
  width: 220px;
  height: 290px;

}
.team__accordion {
  
}
.team__accordion-name {
  display: flex;
  padding-right: 5px;
  font-weight: bold;
  font-size: 21px;
  line-height: 1.1;
  
}
.team__icon-arrow {
  display: block;
  padding-top: 8px;
  width: 15px;
  height: 15px;
  fill: #292929;
}
.accordion__wrapper {
  display: none;
}
.accordion__content {
}
.team__prof {
}